.Navigation-bar{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #9DA1AD;
}

.btn-custom{
	width: 8vw;
	font-weight: 600;
	margin-left: 0px;
	margin-right: 40px;
	color: #ffffff;
	background-color: #9DA1AD;
	border-color: #ff6633;
	border-width: 2px;
	font-size: 120%;
}


.btn-custom:hover {
  color: #fff;
  background-color: #eab09d !important;
  border-color: #ff6633;
}
/*
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}*/

.navbar-brand {
  padding: 0px;
  margin-left:8.33333333% !important;
}
/*.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}*/



body{
	margin-top: 5%;
	/*font-family: "Aller";*/
}

.main{
	background-color: #efefef;
}

.main-image{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.sections{
	padding: 0px 40px 0px 40px;
}

.big-line-spacing {
    line-height: 200%;
}

.footer{
	font-size: 200%;
	margin-top: 30px;
}

 .second-background {
  background-color: #c2c8d6;
}

.about-section{
	margin-bottom: 80px;
	margin-top: 60px;
}

.port-images{
	margin-left: 60px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.contact-inputs{
	all: initial;
	width: 90%;
	height: 50px;
	border: none;
	background: none;
	border-bottom: 2px solid #c2c8d6;
	margin-left: 20px;
	font-size: 160%;
	font-style: italic;
	font-weight: 50%;
	color:#666;
	vertical-align: text-top;

}

.contact-inputs::placeholder {
	font-size: 100%;
	font-style: italic;
	font-weight: 50%;
 	text-align: left;
	vertical-align:text-top;
	box-shadow: none!important;


}
	
.message-input{
	height: 150px;
	text-align: start !important;
}

.contact-submit{
	background-color: #9DA1AD;
	font-weight:600;
	font-size: 120%;
	font-style: italic;
	margin-top: 20px ;
	margin-left: 20px;
	width: 20%;
	height: 3em;

}

.contact-description h4{
	font-size: 160%;
	color: #666;
	padding-right: 20%;
	padding-left: 5%;
	text-align: left;
	line-height: 150%;
}

h2{
	color: #666;
	margin-top: 4%;
	font-size: 250%;
	margin-bottom: 3%;
}

.footer{
	background-color: #c2c8d6;
	margin-top: -40px; 
}


.social-icons{
	margin: 60px 0px 20px 0px;
}


.social-icons ul,.social-icons li,.social-icons img{
	width: 64px;
	display: inline-block;
}

.social-link-section h4{
	color: #666;
	font-size:100%;
	font-style: italic;
	margin-left: 25px;
}

.about-page{
	font-size: 80%;
}



a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}
